{{ ansible_managed }}
{% include './features/loopback.j2' %}
{% include './features/eth0.j2' %}
{% if vlans is defined %}
{%   include './features/vlans.j2' %}
{% endif %}
{% if interfaces is defined %}
{%   include './features/interfaces.j2' %}
{% endif %}

